.dado6 {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    display:inline-block;
    margin-right:20px;

}

.dado3 {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    display:inline-block;
    margin-right:20px;
}

.dado12 {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    display:inline-block;
}

.boton{
    width:125px;
    height:55px;
    position: absolute;
    top:89%;
    left:40%;
}

.tirarDado {
    
    border: 35px solid #fff;
    
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

body {
    
    background-color: #E1F5FE;

}

.glyphicon {
    
    margin-bottom: 10px;margin-right: 10px;
    
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

