.inicio-form{
    
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 18%;
    width: 65%;

}

.logo{
    
    position: absolute;
    top: 25%; 
    left: 48%;
    transform: translate(-50%, -50%);
    
}

body{
    
    background-color: #E1F5FE;

}